<h1> All Activities </h1>

<div>
  <ul>
    <% @activities.each do |activity| %>
    <li> <%= link_to activity.name.titleize, activity_path(activity) %> </li>
    <% end %>
  </ul>
</div>

<%= link_to "Create New Activity", new_activity_path %>
<br>
<%= link_to "See All Users", users_path %>
<br>
<%= link_to "See All Dates", romantic_dates_path%>
